<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468825570931-13sksdlsse13jhf9aakf3t6n61en4acl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468825570931-13sksdlsse13jhf9aakf3t6n61en4acl</string>
	<key>API_KEY</key>
	<string>AIzaSyCJWJBu1Vdo4i1d6q_BgNnd5wJCHaFIKuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>468825570931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tankengboon.expenses</string>
	<key>PROJECT_ID</key>
	<string>expenses-afef8</string>
	<key>STORAGE_BUCKET</key>
	<string>expenses-afef8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468825570931:ios:25c8f342dca91b845bb406</string>
</dict>
</plist>